.Comment
  display: flex
  margin-bottom: 15px


  .comment
    display: block
    margin-bottom: 5px

  .username
    display: block

  .imgWr
    height: 100px
    width: 100px
    margin-right: 15px